<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加酒店</title>
</head>
<body>

<form action="/AddHotel" method="get">
    <label>城市</label>
    <input type="text" name="city">
    <label>维度</label>
    <input type="text" name="dimensionality">
    <label>酒店名称</label>
    <input type="text" name="hotelname">
    <label>经度</label>
    <input type="text" name="longitude">
    <label>电话号码</label>
    <input type="text" name="phone">
    <label>省</label>
    <input type="text" name="province">
    <label>街道</label>
    <input type="text" name="street">
    <button type="submit" value="提交"/>
</form>
</body>
</html>